<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Informacion de pedido</title>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <link rel="stylesheet" type="text/css" href="../css/info-formato.css">
    </head>
    <body>
        <!-- Navbar -->
        <div class="navbar">
            <a href="index.html" class="nav-button">Inicio</a>
            Lo Vegador On-Line
        </div>
  
        <!-- Información del pedido -->
        <div class="container">
            <h1>Información del Pedido</h1>
            <div class="detalle-producto">
                <h2>Tipo de Producto: <span>Fruta</span></h2>
                <h3>Productos: <span>Higo, Uva</span></h3>
                <p>Busco venta de 5 kilos de uvas y 5 kilos de higos, ojalá cerca de Coronel o Lota, que son los lados donde mas suelo estar.</p>
                <p>Ubicación: Comuna de Coronel, Region del Biobío</p>
            </div>
            <div class="detalle-productor">
                <h2>Información del Comprador</h2>
                <p>Nombre: Javier Fonseca</p>
                <p>Email: jfonck@gmail.com</p>
                <p>Teléfono: +56 9 8888 8887</p>
            </div>
        </div>

        <script src="../js/info.js"></script>
      
    </body>
    <footer>
        <p>Tarea 1 - CC5002 Desarrollo de Aplicaciones Web - Felipe Valdebenito Bravo</p>
    </footer>
</html>