{% extends "base.html" %}

{% block title %}Ver Productos{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ver-formato.css') }}">
{% endblock %}

{% block navbar %}
    <a href="{{ url_for('index') }}" class="nav-button">Inicio</a>
{% endblock %}

{% block content %}
    <h2 style="text-align: center;">Productos Agrícolas por Región y Comuna</h2>

    <table id="productosTable">
        <tr>
            <th>Tipo</th>
            <th>Productos</th>
            <th>Región</th>
            <th>Comuna</th>
            <th>Fotos</th>
        </tr>
        {% if data %}
            {% for producto in data %}
                <tr data-href="/informacion-producto/{{ producto.id }}">
                    <td>{{ producto.tipo }}</td>
                    <td class="descripcion-cell">
                        {% for producto in producto.productos %}
                            - {{ producto }} <br>
                        {% endfor %}
                    </td>
                    <td>{{ producto.region }}</td>
                    <td>{{ producto.comuna }}</td>
                    <td>
                        {% for foto in producto.fotos %}
                            <img src="{{ foto }}" alt="{{ foto }}">
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

    <div class="pagination">
        {% if pagina > 1 %}
        <a href="?pagina={{ pagina - 1 }}">&laquo; Anterior</a>
        {% endif %}
        
        {% for num in range(1, total_pags + 1) %}
        <a href="?pagina={{ num }}" class="{{ 'active' if num == pagina else '' }}">{{ num }}</a>
        {% endfor %}
        
        {% if pagina < total_pags %}
        <a href="?pagina={{ pagina + 1 }}">Siguiente &raquo;</a>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/mostrar.js') }}"></script>
{% endblock %}